[Desktop Entry]
Encoding=UTF-8
Name=ApE A Plasmid Editor
Comment=A Plasmid Editor
Exec=ApE
Icon=monkey_icon.gif
Terminal=false
Type=Application
Categories=Application;Graphics;Science;
