[Desktop Entry]
Encoding=UTF-8
Name=Netgen
Comment=3D modeling, Mesh generation.
Exec=/usr/bin/netgen
Icon=netgen
Terminal=0
Type=Application
Categories=Graphics;Application;
